{% extends 'layouts/base.html' %}

{% block title %} Dashboard {% endblock title %}
{% block stylesheets %}

{% endblock stylesheets %}

<!-- Specific CSS goes HERE -->
{% block content %}

<div class="container-fluid mt--6">
  <div class="row">
  {% for cau_thu in ds_cau_thu %}
    <div class="col-xl-4 order-xl-2">
    <div class="card card-profile">
    <img src="{{ cau_thu.bieu_tuong }}" alt="Image placeholder" class="card-img-top" style="width: 50%; height: auto; display: block; margin: 0 auto;">
    <div class="row justify-content-center">
        
          <div class="col-lg-3 order-lg-2">
            <div class="card-profile-image">
              <a href="#">
                <img src="{{ cau_thu.hinh_anh }}" class="rounded-circle">
              </a>
            </div>
          </div>
        </div>
        <br><br><br>
          
          <div class="text-center">
            <h5 class="h3">
              {{ cau_thu.ten }}
            </h5>
            <div class="h5 font-weight-300">
              {{ cau_thu.ten_clb }}
            </div>
              <div class="h5 font-weight-300">
              {{ cau_thu.vi_tri }}
            </div>
           
          </div>
          <div class="card-header text-center border-0 pt-8 pt-md-4 pb-0 pb-md-4">
          <div class="d-flex justify-content-center" style="margin-left: 30px;">
    <a href="#" class="btn btn-sm btn-info mr-4">Chi tiết</a>
</div>
        </div>
          
        </div>

      </div>
  {% endfor%}
    </div>
  {% endblock content %}

<!-- Specific JS goes HERE -->
{% block javascripts %}

<script src="/static/assets/vendor/chart.js/dist/Chart.min.js"></script>
<script src="/static/assets/vendor/chart.js/dist/Chart.extension.js"></script>

{% endblock javascripts %}
