{% extends 'layouts/base.html' %}

{% block title %} Dashboard {% endblock title %}
{% block stylesheets %}

{% endblock stylesheets %}

<!-- Specific CSS goes HERE -->
{% block content %}
    
    <!--Header -->    
    <div class="header bg-primary pb-6">
    <div class="container-fluid">
        <div class="header-body">
            <div class="row align-items-center py-4">
                <div class="col-lg-6 col-7">
                    <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
                        <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
                            <li class="breadcrumb-item"><a href="#"><i class="fas fa-home"></i></a></li>
                            <li class="breadcrumb-item"><a href="#">Cầu thủ</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Mặc định</li>
                        </ol>
                    </nav>
                </div>
                <div class="col-lg-6 col-5 text-right">
                    <a href="#" class="btn btn-sm btn-neutral">New</a>
                    <a href="#" class="btn btn-sm btn-neutral">Filters</a>
                </div>
            </div>
            <!-- Card stats -->
            
        </div>
    </div>
</div>

    <!-- main-->
<div class="container-fluid mt--6">
  <div class="row">
  {% for huan_luyen_vien in ds_huan_luyen_vien %}
    <div class="col-xl-4 order-xl-2">
    <div class="card card-profile">
    <img src="{{ huan_luyen_vien.bieu_tuong }}" alt="Image placeholder" class="card-img-top" style="width: 50%; height: auto; display: block; margin: 0 auto;">
    <div class="row justify-content-center">
        
          <div class="col-lg-3 order-lg-2">
            <div class="card-profile-image">
              <a href="#">
                <img src="{{ huan_luyen_vien.hinh_anh }}" class="rounded-circle">
              </a>
            </div>
          </div>
        </div>
        <br><br><br>
          
          <div class="text-center">
            <h5 class="h3">
              {{ huan_luyen_vien.ten }}
            </h5>
            <div class="h5 font-weight-300">
              {{ huan_luyen_vien.ten_clb }}
            </div>
              <div class="h5 font-weight-300">
              {{ huan_luyen_vien.chuyen_mon }}
            </div>
           
          </div>
          <div class="card-header text-center border-0 pt-8 pt-md-4 pb-0 pb-md-4">
          <div class="d-flex justify-content-center" style="margin-left: 30px;">
    <a href="/huan-luyen-vien/{{ huan_luyen_vien.ma_huan_luyen_vien}}/" class="btn btn-sm btn-info mr-4">Chi tiết</a>
</div>
        </div>
          
        </div>

      </div>
  {% endfor%}
    </div>
  {% endblock content %}

<!-- Specific JS goes HERE -->
{% block javascripts %}

<script src="/static/assets/vendor/chart.js/dist/Chart.min.js"></script>
<script src="/static/assets/vendor/chart.js/dist/Chart.extension.js"></script>

{% endblock javascripts %}
