{% extends 'layouts/base.html' %}

{% block title %} Dashboard {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
    <!-- Header -->
    <div>Ma Doi Bong: {{ ma_doi_bong }}</div>
    <div>Ten: {{ ten }}</div>
    <div>San Van Dong: {{ san_van_dong }}</div>
    <div>Nam Thanh Lap: {{ nam_thanh_lap_lap }}</div>

{% endblock content %}

<!-- Specific JS goes HERE --> 
{% block javascripts %}

  <script src="/static/assets/vendor/chart.js/dist/Chart.min.js"></script>
  <script src="/static/assets/vendor/chart.js/dist/Chart.extension.js"></script>

{% endblock javascripts %}
